.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
C:/temp/checkpoint/
.idea
logs/
data/external/
data/raw/
data/processed/
.env

init/data/minio/.minio.sys

airflow/logs/dag_processor_manager
airflow/logs/scheduler

minio-data

scripts\__pycache__

.claude/settings.local.json

node_modules/
dist/
.env

init/downloads/spark-3.5.1-bin-hadoop3.tgz